//шрифты
$ff_logo: 'Press Start 2P', cursive;
$ff_cards: 'Open Sans', sans-serif;
$ff_text: 'Open Sans Condensed', sans-serif;



//цвета
$col_1: #015367;
$col_2: #04819E;
$col_3: #206676;
$col_4: #38B2CE;
$col_5: #60B9CE;